#sikshya-lesson-sidebar-tab-content {
  .sikshya-sections-in-single-lesson {
    margin-bottom: 5px;
    background-color: #ffffff;
    padding: 0;
    .sikshya-sections-title {
      position: relative;
      cursor: pointer;
      padding: 0px 10px;
      background-color: #e0e0e0;
      border-bottom: 1px solid rgba(0, 0, 0, .125);
      .section-title {
        font-weight: 500;
      }
      .section-num {
        color: #959aa2;
        font-size: 13px;
        display: block;
      }
      button {
        position: absolute;
        right: 15px;
        top: 50%;
        -webkit-transform: translateY(-50%);
        transform: translateY(-50%);
        padding: 0 5px;
        font-size: 20px;
        background: transparent;
        border: none;
        color: #4b5981 !important;
      }
      h3 {
        margin: 0;
        padding: 10px 37px 10px 17px;
        font-size: 20px;
        color: #4b5981;
        font-weight: 500;
      }
    }
    .sikshya-single-lesson-items, .sikshya-single-lesson-quiz-items {
      a {
        > i {
          &:first-child {
            color: #C7C7C7;
            line-height: 22px;
            display: inline-block;
            vertical-align: middle;
            margin-right: 10px;
          }
        }
        span {
          margin: 0;
          display: inline;
          color: #4b5981;
        }
        padding: 10px 100px 10px 17px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        color: #4b5981;
        position: relative;
        border-top: 1px solid #E8EFF1;
      }
    }
  }

  .sikshya-single-lesson-items.active {
    a {
      background: rgba(233, 235, 238, 0.35);
    }
    .sikshya-lesson-right-icons {
      .sikshya-lesson-complete-status {
        border-color: #b7d6b7;
      }
    }
  }
  .sikshya-lesson-right-icons {
    position: absolute;
    right: 15px;
    top: 14px;
    .sikshya-content-locked {
      height: 10px;
      width: 10px;
      display: inline-block;
      line-height: 10px;
      text-align: center;
      margin: 0;
      vertical-align: middle;
      margin-left: 8px;
      color: #cacaca;
    }
    i {
      font-style: normal;
    }
  }

}