@import "course/single";

.sikshya-courses {
	clear: both;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	margin-left: -15px;
	margin-right: -15px;
	padding: 50px 0;

	&.sikshya-courses-loop-wrap {
		.sikshya-course-item {
			margin-bottom: 30px;
		}
	}
}

.sikshya-course-loop {
	background: #fff;
	color: #29303b;
	overflow: hidden;
	position: relative;
	vertical-align: top;
	border-radius: 4px;
	-webkit-transition: 300ms;
	transition: 300ms;
	border: 1px solid rgba(0, 0, 0, 0.05);
	height: 100%;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;

	&:hover {
		-webkit-box-shadow: 0 4px 23px rgba(0, 0, 0, 0.1);
		box-shadow: 0 4px 23px rgba(0, 0, 0, 0.1);
	}
}

.sikshya-loop-course-container {
	padding: 25px 19px;
}

.sikshya-course-loop-header-meta {
	position: absolute;
	left: 0;
	top: 13px;
	width: 100%;
	padding-left: 13px;
	padding-right: 13px;
	overflow: hidden;
}

.sikshya-course-loop-level {
	display: inline-block;
	background: #9013FE;
	padding: 0 7px;
	color: #fff;
	font-size: 12px;
	line-height: 20px;
	border-radius: 2px;
	-webkit-box-shadow: 0 0 1px rgba(0, 0, 0, 0.1);
	box-shadow: 0 0 1px rgba(0, 0, 0, 0.1);
}

.sikshya-loop-course-footer {
	padding: 15px;
	border-top: 1px solid rgba(0, 0, 0, 0.05);
	color: #838791;
	font-size: 12px;
	line-height: 25px;
	border-bottom-left-radius: 4px;
	border-bottom-right-radius: 4px;
	font-weight: 400;
}

.sikshya-course-loop-price {
	> .price {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-align: center;
		-ms-flex-align: center;
		align-items: center;
		-webkit-box-pack: start;
		-ms-flex-pack: start;
		justify-content: flex-start;
		font-weight: 600;
		-ms-flex-wrap: wrap;
		flex-wrap: wrap;

		.sikshya-loop-cart-btn-wrap {
			margin-left: auto;
		}
	}
}

.sikshya-loop-author {
	.sikshya-single-course-avatar {
		.sikshya-text-avatar {
			height: 25px;
			width: 25px;
			display: inline-block;
			border-radius: 50%;
			text-align: center;
			line-height: 25px;
			font-size: 11px;
			margin-right: 6px;
			background-size: cover;
			border: 2px solid #aaa;
			float: left;
		}
	}
}
