.course-section-template {
	padding: 0;
	margin: 0 0 20px 0;
	border: 1px solid #aaa;
}

.course-section-template .section-actions {
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 20px;
}

.course-section-template-inner {
	padding: 20px 30px;
}

.sikshya-card-item:hover .sikshya-card-inner {
	border-color: #0acf97;
}

.sikshya-card-item:hover .sikshya-card-inner .card-widgets {
	display: block;
}

.sikshya-card-item {
	position: relative;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	min-width: 0;
	word-wrap: break-word;
	background-clip: border-box;
	border-radius: .25rem;
	border: none;
	background: #f9f9f9;
	margin-bottom: .75rem;
}

.sikshya-card-inner {
	padding: 1.0rem;
	cursor: pointer;
	border: 1px solid #ccc;
}

.sikshya-card-body {
	display: flex;
	padding: 0;
	justify-content: space-between;

}

.sikshya-card-body .card-widgets {
	width: 20%;
	margin-left: auto;
	text-align: right;
	display: none;
}

.sikshya-card-body .title {
	margin: 0;
	padding: 0;
	font-size: 13px;
	font-weight: normal;
}

.sikshya-card-body a {
	text-decoration: none;
	margin-left: 10px;
}
