#admin-editor-sik_question {
    background: #fff;
}

.sik-admin-editor {
    background-color: #fff;
    border: 1px solid #ddd;
    margin: 20px 0 0 0;
    position: relative;
}

.sik-box-data {
    border: 1px solid #DDD;
    margin: 20px 0 0 0;
    position: relative;
}

#admin-editor-sik_question .sik-box-data-head .heading {
    float: left;
    font-size: 18px;
    padding: 15px;
    margin: 0;
}

.sik-box-data .sik-box-data-head {
    padding: 10px 15px;
    background: #FFF;
}

.sik-admin-editor .sik-box-data-head {
    padding: 0 10px;
}

.sik-box-data .sik-box-data-head:after {
    clear: both;
    display: block;
    content: '';
}

.sik-admin-editor .sik-box-data-content {
    padding: 20px;
}

.sik-box-data .sik-box-data-content {
    padding: 15px;
    border-top: 1px solid #DDD;
    background: #FFF;
}

.sik-admin-editor .sikshya-question-item-wrap .question-header {
    display: flex;
    flex-direction: row;
    text-align: left;

}

.sik-admin-editor .sikshya-question-item-wrap .right-button {
    flex: 2;
    max-width: 50px;
}

.sik-admin-editor .sikshya-question-item-wrap .right-button span {
    line-height: 62px;
    font-size: 16px;
    width: 30px;
    padding: 0;
    text-align: center;
    position: relative;
    vertical-align: middle;
    cursor: pointer;
    display: inline-block;
    margin: 0;
    height: 100%;
}

.sik-admin-editor .sikshya-question-item-wrap .right-button span:hover {
    background: rgba(0, 102, 155, 0.2);
    color: #fff;
}

.sik-admin-editor .sikshya-question-item-wrap .question-content.hide-if-js {

    display: none;
}

.sik-admin-editor .sikshya-quiz-question-item {
    background: #fff;
    border-bottom: 1px solid rgba(0, 102, 155, 0.3);
}

.sik-admin-editor .question-header h2, #poststuff .sik-admin-editor .question-header h2.header-title {
    padding: 12px 10px;
    font-weight: 400;
    flex: 1;
}

.sik-admin-editor .question-header h2 input, #poststuff .sik-admin-editor .question-header h2.header-title input {

    width: 100%;
    border-radius: 0;
    outline: none;
    border: 1px solid #007cba;
    line-height: 1;
    min-height: 35px;
}

.sik-admin-editor .sikshya-quiz-question-item:nth-child(2n+1) {
    background: rgba(0, 102, 155, 0.1);
}

.sik-admin-editor .question-answer-template {
    padding: 20px;
}

.sik-admin-editor .question-content {
    background: #f9f9f9;
    border-top: 1px solid #ddd;
}

.sik-label-counter {
    padding: 3px 12px;
    background: #007cba;
    color: #ffff;
    font-weight: bold;
}

.postbox .sikshya-lesson-course-assigned .sik-course-list-meta-child {
    border-left: 2px solid #ccd0d4;
    padding-top: 5px;
}

.postbox .sikshya-lesson-course-assigned .sik-course-list-meta-child > li {
    position: relative;
    padding-left: 15px;
}

.postbox .sik-course-list-meta-child > li:before {
    content: '';
    display: block;
    width: 10px;
    height: 2px;
    background: #ccd0d4;
    position: absolute;
    left: 0;
    top: 50%;
}

.course-section-template .heading {
    display: flex;
    padding: 0;
    justify-content: space-between;
}

.course-section-template .remove-section {
    padding: 10px;
    float: right;
    text-decoration: none;
}

.section-form label span,
.lesson-form label span,
.quiz-form label span {
    display: block;
    text-align: center;
    font-weight: bold;
    margin-bottom: 20px;
}

.section-form label input,
.lesson-form label input,
.quiz-form label input {
    display: block;
    text-align: left;
    margin: 0 auto;
    width: 100%;
    min-height: 50px;
    margin-bottom: 20px;
}

.section-form .sikshya-button,
.lesson-form .sikshya-button,
.quiz-form .sikshya-button {
    margin: 0 auto;
    display: block;
    width: 100%;
    min-height: 50px;
}

.sikshya-field-wrap {
    padding: 10px 15px;
}

.sikshya-field-wrap:after {
    content: "";
    display: block;
    clear: both;
}

.sikshya-field-wrap label:not(.sikshya-switch-control) {
    width: 100%;
    margin-right: 20px;
    vertical-align: baseline;
    max-width: 100%;
    float: left;
    font-weight: 600;
}

.sikshya-field-wrap .sikshya-field-content {
    margin-left: 0;
    float: left;
    width: auto;
    text-align: left;
}

.sikshya-field-wrap .sikshya-field-label {
    display: block;
    margin-bottom: 5px;
    float: left;
    width: 190px;
    font-size: 14px;
    text-transform: capitalize;
}

.sikshya-field-wrap input[type="text"],
.sikshya-field-wrap input[type="number"],
.sikshya-field-wrap input[type="url"],
.sikshya-field-wrap input[type="url"],
.sikshya-field-wrap select,
.sikshya-field-wrap textarea,
.sikshya-field-wrap .select2-container {
    min-width: 200px;
    float: left;
    max-width: 100%;
    width: auto;
    box-shadow: none;
    border: 1px solid #aaa;
    border-radius: 0;
    padding: 4px 12px;
    height: 35px;
    outline: 0;
    border-left: 3px solid #aaa;
    margin-right: 10px;
}

.tab-content-item.requirements .sikshya-field-wrap input[type="text"],
.tab-content-item.requirements .sikshya-field-wrap input[type="number"],
.tab-content-item.requirements .sikshya-field-wrap input[type="url"],
.tab-content-item.requirements .sikshya-field-wrap input[type="url"],
.tab-content-item.requirements .sikshya-field-wrap select,
.tab-content-item.requirements .sikshya-field-wrap textarea,
.tab-content-item.requirements .sikshya-field-wrap .select2-container,
.tab-content-item.outcomes .sikshya-field-wrap input[type="text"],
.tab-content-item.outcomes .sikshya-field-wrap input[type="number"],
.tab-content-item.outcomes .sikshya-field-wrap input[type="url"],
.tab-content-item.outcomes .sikshya-field-wrap input[type="url"],
.tab-content-item.outcomes .sikshya-field-wrap select,
.tab-content-item.outcomes .sikshya-field-wrap textarea,
.tab-content-item.outcomes .sikshya-field-wrap .select2-container {
    min-width: 400px;

}

.sikshya-switch-control-wrap {
    display: inline-block;
}

.sikshya-switch-control {
    position: relative;
    display: inline-block;
    width: 59px;
    height: 22px;
    float: right;
}

.sikshya-switch-control .slider.round:after {
    content: attr(data-off);
    display: block;

    text-transform: uppercase;
    font-size: 9px;
    font-weight: 600;
    color: #007cba;
    width: 100%;
    text-align: center;
    margin-left: 7px;
}

.sikshya-switch-control input:checked + .slider.round:after {
    color: #fff;
    margin-left: -8px;
    content: attr(data-on);

}

.sikshya-switch-control-wrap:before {

}

.sikshya-switch-control input {
    opacity: 0;
    width: 0;
    height: 0;
}

.sikshya-switch-control .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #e1e1e1;
    -webkit-transition: .4s;
    transition: .4s;
    border: 1px solid #aaa;
}

.sikshya-switch-control .slider:before {
    position: absolute;
    content: "";
    height: 16px;
    width: 16px;
    left: 3px;
    bottom: 2px;
    background-color: #8e8d8d;
    -webkit-transition: .4s;
    transition: .4s;
}

.sikshya-switch-control input:checked + .slider {
    background-color: #2196F3;
    border-color: #1e84d4;

}

.sikshya-switch-control input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
}

.sikshya-switch-control input:checked + .slider:before {
    -webkit-transform: translateX(36px);
    -ms-transform: translateX(36px);
    transform: translateX(36px);
    background: #fff;
}

/* Rounded sliders */
.sikshya-switch-control .slider.round {
    border-radius: 15px;
}

.sikshya-switch-control .slider.round:before {
    border-radius: 100%;
}

.sikshya-switch-control-wrap .yatri-switch-label {
    font-size: 14px;
    line-height: 1.75;
    font-weight: 600;
    margin-bottom: 4px;
}
