#admin-editor-sik_question {
    background: #fff;
}

.sik-admin-editor {
    background-color: #fff;
    border: 1px solid #ddd;
    margin: 20px 0 0 0;
    position: relative;
}

.sik-box-data {
    border: 1px solid #DDD;
    margin: 20px 0 0 0;
    position: relative;
}

#admin-editor-sik_question .sik-box-data-head .heading {
    float: left;
    font-size: 18px;
    padding: 15px;
    margin: 0;
}

.sik-box-data .sik-box-data-head {
    padding: 10px 15px;
    background: #FFF;
}

.sik-admin-editor .sik-box-data-head {
    padding: 0 10px;
}

.sik-box-data .sik-box-data-head:after {
    clear: both;
    display: block;
    content: '';
}

.sik-admin-editor .sik-box-data-content {
    padding: 20px;
}

.sik-box-data .sik-box-data-content {
    padding: 15px;
    border-top: 1px solid #DDD;
    background: #FFF;
}

.sik-admin-editor .sikshya-question-item-wrap .question-header {
    display: flex;
    flex-direction: row;
    text-align: left;

}

.sik-admin-editor .sikshya-question-item-wrap .right-button {
    flex: 2;
    max-width: 50px;
}

.sik-admin-editor .sikshya-question-item-wrap .right-button span {
    line-height: 42px;
    font-size: 16px;
    width: 30px;
    padding: 0;
    text-align: center;
    position: relative;
    vertical-align: middle;
    cursor: pointer;
    display: inline-block;
    margin: 0;
    height: 100%;
}

.sik-admin-editor .sikshya-question-item-wrap .right-button span:hover {
    background: rgba(0, 102, 155, 0.2);
    color: #fff;
}

.sik-admin-editor .sikshya-question-item-wrap .question-content.hide-if-js {

    display: none;
}

.sik-admin-editor .sikshya-quiz-question-item {
    background: #fff;
    border-bottom: 1px solid rgba(0, 102, 155, 0.3);
}

.sik-admin-editor .question-header h2, #poststuff .sik-admin-editor .question-header h2.header-title {
    padding: 12px 10px;
    font-weight: 400;
    flex: 1;
}

.sik-admin-editor .question-header h2 input, #poststuff .sik-admin-editor .question-header h2.header-title input {

    width: 100%;
    border-radius: 0;
    outline: none;
    border: 1px solid #007cba;
    min-height: auto;
    line-height: 1;
}

.sik-admin-editor .sikshya-quiz-question-item:nth-child(2n+1) {
    background: rgba(0, 102, 155, 0.1);
}

.sik-admin-editor .question-answer-template {
    padding: 20px;
}

.sik-admin-editor .question-content {
    background: #f9f9f9;
    border-top: 1px solid #ddd;
}

.sik-label-counter {
    padding: 3px 12px;
    background: #007cba;
    color: #ffff;
    font-weight: bold;
}

.postbox .sikshya-lesson-course-assigned .sik-course-list-meta-child {
    border-left: 2px solid #ccd0d4;
    padding-top: 5px;
}

.postbox .sikshya-lesson-course-assigned .sik-course-list-meta-child > li {
    position: relative;
    padding-left: 15px;
}

.postbox .sik-course-list-meta-child > li:before {
    content: '';
    display: block;
    width: 10px;
    height: 2px;
    background: #ccd0d4;
    position: absolute;
    left: 0;
    top: 50%;
}

.course-section-template .heading {
    display: flex;
    padding: 0;
    justify-content: space-between;
}

.course-section-template .remove-section {
    padding: 10px;
    float: right;
    text-decoration: none;
}

.section-form label span,
.lesson-form label span,
.quiz-form label span {
    display: block;
    text-align: center;
    font-weight: bold;
    margin-bottom: 20px;
}

.section-form label input,
.lesson-form label input,
.quiz-form label input {
    display: block;
    text-align: left;
    margin: 0 auto;
    width: 100%;
    min-height: 50px;
    margin-bottom: 20px;
}

.section-form .sikshya-button,
.lesson-form .sikshya-button,
.quiz-form .sikshya-button {
    margin: 0 auto;
    display: block;
    width: 100%;
    min-height: 50px;
}